@import "var";

body{
	margin: auto;
	background-color: map-get($colors, "background");
	max-width: $desktop;
}

h1{
	font-family: $p_titre;
	font-size: 40px;
	color: map-get($colors,"titre1");
}

h2, h3, h4{
	font-family: $p_titre;
	color: map-get($colors,"titre2");
}

li{
	font-family: $p_texte;
	color: map-get($colors, "titre1");
	list-style-type: none;
	float: left;
	width: auto;
	cursor: pointer;
	padding-left: 50px;
}

p{
	font-family: $p_texte;
	color: map-get($colors,"normal");
}

a {
	text-decoration: none;
	font-family: $p_texte;
	color: map-get($colors,"titre1");
}

// mise en page

.contenaire{
	@include dir_row();
	gap: 60px;
	justify-content: center;
}

// Header
.cwc{
	&_contenaire{
		@include dir_row();
	justify-content: space-between;
			margin: 20px;
	}
	&_nav{
		@include dir_row();
		justify-content: flex-end;
		gap: 30px;
	}
}


.hidden{
 	display: none;
}

.form{
	&Contact{
		@include dir_col();
		width: 600px;
		font-family: $p_texte;
		color: map-get($colors, "normal");
	}
}

section{
	width: 1000px;
	// border: solid 1px white;
}

.img{
	&APropos{
		@include dir_row();
		gap: 20px;
	}
	&Profil{
		width: 400px;
		border-radius: 15px;
		box-shadow: 5px 5px 10px map-get($colors,"moonstone");
	}
	&Align{
		@include dir_col();
		align-items: center;
	}
	&Logo{
		width: 380px;
	}
}

.projet{
	min-width: 300px;
	height: 400px;
	background-color: beige;

	&_img{
		min-width: auto;
	}
	&_txt{
		min-width: auto;
	}
}
