// Polices nom entreprise
// @import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&family=Zen+Dots&display=swap');
:root {
    --black: #333;
    --blackGreen: #133133;
    --or: #EBB42C;
    --shadowW : rgba(255, 255, 255, 0.15);
    --white: #FFF;

    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body {
    font-size: 1rem;
    font-family: 'Space mono', monospace, Verdana, san-serif;
}

#imgPortrait {
    display: grid; // Active Flexbox
    grid-template-columns: repeat(3, 1fr); // 3 colonnes de taille égale
    align-items: center; // Centre les éléments verticalement
    justify-content: center; // Centre les éléments horizontalement
    height: 100px;
    gap: 20px; // Espacement entre les éléments

    div {
        position: relative;
        height: 100%;
        display: flex;
        text-align: center; // Centre le texte dans chaque div
        justify-content: center;
    }

    h1{
        font-size: 1.5em;
        color: var(--or);
    }

    img {
        width: 250px; //attribue largeur à l'image
        height: auto; //conserve le ratio
        border-radius: 50%; //créé un arrondi
        object-fit: cover; // fait en sorte que l'image ne sorte pas du cadre
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // créé une légère ombre portée
        position: absolute;        
        top: -90px;
    }
}
#pageBarre{
    background-color: var(--shadowW);
}
#mainPage{
    width: 1366px;
    height: 1009px;
    border-radius: 20px;
    background-color: var(--blackGreen);

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
    }
}